.menu {
    display: flex;
    height: 50px;
    width: 100%;

    justify-content: flex-end;

    align-items: center;
    list-style: none;
    margin-top: 18px;
    padding-left: 0;

    @media (max-width: 1024px) {
        justify-content: center;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }
}

.menu a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 3px;
    transition: 0.5s;
    border: 1px solid transparent;
    padding: 5px;
    transition: 0.3s;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    @media (max-width: 1024px) {
        font-size: 15px;
    }
}

.menu a:hover {
    border: 1px solid black;
}
