.footer {
    text-align: center;
    background-color: black;
    bottom: 0;
    color: white;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
}

.footer__text {
    margin-top: 10px;
    margin-bottom: 10px;
}
