.aboutus-image {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0;
    & img {
        width: 1920px;
        margin-left: -20px;
    }
    & h2 {
        position: absolute;
        align-self: center;
        text-align: center;
        color: white;
        line-height: 2em;
        font-size: 4rem;
        opacity: 90%;
    }
}
